@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Open+Sans:ital,wght@1,300&display=swap');

.container.text-center{
    max-width: 400px;
    font-family: 'Poppins',sans-serif;
    background-color: aliceblue;
    
    border-radius: 20px;
    margin-top: 3.5rem;
    box-shadow: rgb(0 0 0 / 57%) 0px 0px 20px 3px;
}

.form-group{
    border: none;
}

h2{
    font-weight: bold;
    text-align: center;
    float:none;
}

.formcontrol{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    color: #104190;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgb(174, 199, 221 ,67%);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.5rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}


input:focus{
    border: 0px #1b4672 solid;
    box-shadow: #1b4672 0px 0px 15px 0px;

    outline: none;
    border-radius: 0.5rem;
}

 .link{
    color: white;
    text-decoration: none;
    font-family: "Poppins",sans-serif;
    transition: 0.2s;
    

}

.link:hover{
    text-decoration: underline aliceblue;
    transition: 0.2s;
    color: rgb(166, 174, 182);
}


.form-check.form-check-input {
    float: none;
    margin-left: -1.5em;
}

.form-check-input.mx-2:checked{
    background-color: #325282 ;
    box-shadow: none;
}
.form-check-input.mx-2:checked:focus{
    box-shadow: none;
    border: none;
}

.btn.btn-primary {
    color: #fff;
    background-color: #325282;
    border-color: #0d6efd00;
    border-radius: 10px;
}